@import '../../scss/media';

.back {
  margin-top: 19px;
}

.backLink {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  transition: color 0.3s ease;

  &:hover {
    color: $colorLinkHover;

    .arrow {
      color: $colorLinkHover;
      transform: scale(1.5);
    }
  }
}

.arrow {
  float: left;
  margin-top: 3px;
  margin-right: 12px;
  font-size: 16px;

  transition: all 0.3s ease;
}
