@import './scss/media';

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: "Source Serif Pro";
  background: #F2F2F2;
}

input {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
  align-items: center;
}

.app-content {
  flex: 1 0 auto;
  width: 100%;
}

.containerEx {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  @include mediaZr() {
    padding: 0 10px;
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @include mediaZr() {
    padding: 0 10px;
  }
}
