
@font-face {
  font-family: 'Source Serif Pro';
  src: local('Source Serif Pro'), local('Source Serif Pro Regular'), url('../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: local('Source Serif Pro Bold'), local('Source Serif Pro Bold'), url('../fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
